In [1]:
# Import necessary libraries
import pandas as pd

#### Series and Dataframe
Series and dataframe are two important datatypes in pandas. We will build couple of seriese and build a dataframe using those.

In [3]:
# create 3 seriese
make = ["Mazda","Nissan","Mazda"]
model = ["CX-5","Rogue","CX-30"]
price = [19500, 40000, 32000]

In [5]:
# create dataframe using series
cars = pd.DataFrame({"make" : make, "model" : model, "price" : price})
cars

     make  model  price
0   Mazda   CX-5  19500
1  Nissan  Rogue  40000
2   Mazda  CX-30  32000

In [6]:
# Create dataframe from a CSV file
carsales = pd.read_csv("car-sales.csv")
carsales.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00